.libraryListElement {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px;
}
.libraryListImg {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  aspect-ratio: 1/1;
}

.libraryListElementInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.libraryListElement:hover {
  background-color: var(--secondary-home-panel-element-bg);
}
