#menuBox {
  grid-area: menu;
  padding: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#menuBox li:not(:last-child) {
  margin-bottom: 20px;
}

.menuBoxElement {
  display: flex;
  align-items: center;
}
