#songGroupPage {
  overflow-y: scroll;
  height: 90.5%;
  padding: 0 0 0 16px;
}

#songGroup {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 16px;
  padding: 16px;
}
#songGroupInfo {
  margin-bottom: 16px;
}
.songGroupImg {
  width: 210px;
  border-radius: 5px;
}

#songGroupList {
  padding: 16px;
}

.songGroupListElement {
  display: grid;
  grid-template-areas: "sgleOrderNumber sgleImg sgleInfo sgleAlbumName sgleDateAdded ";
  grid-template-columns: 0.2fr auto 6fr 6fr 6fr;
  /* justify-content: flex-start; */
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  /* gap: 16px; */
  cursor: pointer;
}

.songGroupListElement:hover {
  background-color: var(--secondary-transparent-home-panel-element-bg);
}

.songGroupListElementOrderNumber {
  padding: 0 16px 0 16px;
  grid-area: sgleOrderNumber;
}

.playlistImg {
  width: 40px;
  border-radius: 2px;
  grid-area: sgleImg;
  margin-right: 1em;
}

.songGroupListElementInfo {
  grid-area: sgleInfo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
