.homePanelElement {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-break: auto;
  word-break: break-word;
  overflow: hidden;
  background-color: var(--home-panel-element-bg);
  width: 145px;
  height: 200px;
  padding: 16px;
  border-radius: 7px;
  cursor: pointer;
}

.homePanelElement img {
  width: 145px;
  border-radius: 6px;
}
