.homePanelElement {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-break: auto;
  word-break: break-word;
  overflow: hidden;
  background-color: var(--primary-home-panel-element-bg);
  width: 145px;
  height: 200px;
  padding: 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
  /* color: white; */
}

.homePanelElement img {
  width: 145px;
  width: 145px;
  border-radius: 6px;
  aspect-ratio: 1/1;
}

.homePanelElement:hover {
  background-color: var(--secondary-home-panel-element-bg);
  transition: background-color 0.2s;
}
