#root {
  height: 100dvh;
}

#appContainer {
  display: grid;
  grid-template-areas:
    "menu main"
    "library main"
    "player player";
  grid-template-columns: 340px auto;
  grid-template-rows: min-content 70% auto;
  padding: 7px;
  gap: 7px;
  height: calc(100vh - 14px);
}

#yourLibraryBox {
  grid-area: library;
}

#libraryList {
  height: 98%;
  overflow-y: scroll;
}
#menuBox {
  grid-area: menu;
}

#menuBox li:not(:last-child) {
  margin-bottom: 20px;
}

.menuBoxElement {
  display: flex;
  align-items: center;
}

.textMargin {
  margin-left: 15px;
}

#mainBox {
  grid-area: main;
}

#playerBox {
  grid-area: player;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appBox {
  background-color: var(--primary-bg-color);
  border-radius: 7px;
  padding: 16px;
}

#mainButtonsBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBoxButton {
  border-radius: 100%;
  background-color: var(--button-color);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em 0 0.5em;
}
