#root {
  display: grid;
  grid-template-areas:
    "menu main"
    "library main"
    "player player";
  grid-template-columns: 4fr 11fr;
  grid-template-rows: 1fr 5fr 1fr;
  height: 100vh;
}

#menuBox {
  grid-area: menu;
}

#libraryBox {
  grid-area: library;
}

#mainBox {
  grid-area: main;
}

#playerBox {
  grid-area: player;
  display: flex;
  justify-content: center;
  align-items: center;
}
