#root {
  height: 100vh;
}

#boxContainer {
  display: grid;
  grid-template-areas:
    "menu main"
    "library main";
  grid-template-columns: 4fr minmax(auto, 11fr);
  grid-template-rows: 1fr 5fr;
  gap: 7px;
  padding: 7px;
  height: 85%;
}

#menuBox {
  grid-area: menu;
}

#menuBox li:not(:last-child) {
  margin-bottom: 20px;
}

.menuBoxElement {
  display: flex;
  align-items: center;
}

.boxMenuText {
  margin-left: 15px;
}

#libraryBox {
  grid-area: library;
}

#mainBox {
  grid-area: main;
}

#playerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appBox {
  background-color: var(--primary-bg-color);
  border-radius: 7px;
  padding: 15px;
}
